block vars
  - var htmlclassname = 'home-page';

extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        div(class='masthead clearfix')
          div(class='inner')
            h3.masthead-brand Chat
            nav
              ul(class='nav masthead-nav')
                li(class='active')
                  a(href='#') Home
                li
                  a(href='/login') Login
                li
                  a(href='/register') Register

        div(class='inner cover')
          h1(class='cover-heading') Chat Application
          p(class='lead') A Chat Application example written in NodeJS. This chat is proudly powered with 
            a(href='http://expressjs.com') ExpressJS
            and 
            a(href='http://socket.io') Socket.io.
          p(class='lead')
            a(href='/chat', class='btn btn-lg btn-default') Getting Started

        div(class='mastfoot')
          div(class='inner')
            p By 
              a(href='http://labo-web.com') LaboWeb
