extends layout

block content
  .container
    form(class='form-auth form-login', action='/login', method='post')
      h2(class='form-auth form-login-heading') Login
      label(for='username', class='sr-only') Username
      input(type='text', id='username', name='username' class='form-control', placeholder='Username', required, autofocus)
      label(for='password', class='sr-only') Password
      input(type='password', id='password', name='password', class='form-control last-input', placeholder='Password', required)

      button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in

block style
  link(rel="stylesheet", href="/css/auth.css")
